anaconda-client
anaconda-navigator
attrs
backcall
beautifulsoup4
bleach
certifi
cffi
chardet
clyent
colorama
conda
conda-build
conda-package-handling
cryptography
decorator
defusedxml
entrypoints
filelock
glob2
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
libarchive-c
MarkupSafe
menuinst
mistune
nbconvert
nbformat
notebook
nltk
olefile
pandocfilters
parso
pickleshare
Pillow
pkginfo
prometheus-client
prompt-toolkit
psutil
pycosat
pycparser
Pygments
pyOpenSSL
pyrsistent
PySocks
pyttsx3==2.71
python-dateutil
pytz
pyowm
pyaudio
pywin32
pypiwin32
pywinpty
PyYAML
pyzmq
QtPy
requests
ruamel-yaml
Send2Trash
SpeechRecognition
sip
six
soupsieve
terminado
testpath
tornado
tqdm
traitlets
urllib3
wikipedia
wcwidth
webencodings
win-inet-pton
wincertstore
xmltodict
zipp
pyjokes
googletrans
